<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <a href="@Url.Action("Index", "Home")" title="" class="links">
                    <img alt="picture" class="picture" src="@Url.Content("~/Content/Design/cover.png")">
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ülevaade", "Index", "Home")</li>
                    <li>@Html.ActionLink("Registreeri", "Hinne0", "Voistlus")</li>
                    <li>@Html.ActionLink("Tulemuseta paarid", "Hinneteta", "Voistlus")</li>
                    <li>@Html.ActionLink("Hinded 1", "Hinne1", "Voistlus")</li>
                    <li>@Html.ActionLink("Hinded 2", "Hinne2", "Voistlus")</li>
                    <li>@Html.ActionLink("Hinded 3", "Hinne3", "Voistlus")</li>
                    <li>@Html.ActionLink("Keskmine paarihinne", "Hinne4", "Voistlus")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
