@model IEnumerable<TantsuVoistlus.Models.Voistlus>

<h2>Hindamata Tantsupaarid</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Voistluspaar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinded1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinded2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinded3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KeskmineHinne)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Voistluspaar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hinded1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hinded2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hinded3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KeskmineHinne)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
        </td>
    </tr>
}

</table>
